streamlit
pandas
scikit-learn
seaborn
matplotlib
watchdog
geopy
dash
dash_bootstrap_components
nbformat>=4.2.0
plotly
openpyxl
kaleido
anywidget
cohere
openfoodfacts
sentence_transformers
faiss-cpu
st-annotated-text
torchvision